<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/layout-1.css" />
    <title>Layout 1</title>
  </head>
  <body>
    <h1 class="text-center">Layout 1</h1>
    <div id="wrapper">
      <div class="header text-center f-20">unitop.vn</div>
      <div class="content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi,
        quisquam eos earum rerum commodi asperiores ab sit odio deserunt.
        Officiis eveniet, error sequi impedit illum facere eaque consequatur
        incidunt aperiam delectus adipisci facilis eum aliquam repellat dolorem
        accusantium temporibus veritatis mollitia nisi voluptatum ex voluptates
        perferendis! Maiores non ratione quas?
      </div>
      <div class="footer text-center f-20">Học lập trình web đi làm</div>
    </div>
  </body>
</html>
