#wrapper {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.header {
    flex-basis: 100%;
    flex-grow: 1;
    background-color: #54a0ff;
    padding: 17px;
    color: white;
}

.content {
    display: flex;
    flex-basis: 100%;
    padding: 15px;
    background-color: #f4f4f4;
    min-height: 674px;
}
.footer {
    flex-basis: 100%;
    padding: 17px;
    flex-grow: 1;
    background-color: #232323;
    color: white;
}

